* {
	
	padding: 0; 
    margin: 0;
}   
 
.title{ 
    margin-left: 115px; 
    margin-top: 40px;
     
} 
.title h1{ 
    font-size: 35px; 
    
} 
.title h4{ 
     color: rgb(175, 173, 173); 
     margin-left: 150px; 
     margin-top: 20px;
}
#main{ 
    margin-left: auto; 
    margin-right: auto;  
    width: 1140px; 
}
#header{ 
   
    background-image:url(../Images/header-bg.jpg);
   
    background-repeat: no-repeat;
    height: 550px;
    background-position: center center;	  
    background-size:1440px;  
}    
#index{ 
      background-color:rgba(0, 0, 0, 0.7);  
      height: 530px; 
      padding-top: 20px;
    }


#icons{ 
    background-image: url(../images/logo.png);  
    
    width: 80%;  
    height: 30px; 
    background-repeat: no-repeat;  
    margin: 0px auto 20px;

   
  }  
  #icons ul{ 
    float: right ; 
  }
  
  #icons li{ 
     display: inline-block; 
     text-align:justify;   
     
     
  }    
  #icons li a{ 
      text-decoration: none; 
      list-style-type: none; 
      color: rgb(255, 255, 255); 
      padding: 10px;
  } 
  #icons ul li a:hover {
	background-color: #3398FD;;
}  
#contant{ 
    
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
} 

#rside{ 
    width: 60%; 
    color: rgb(255, 255, 255); 
    float: left; 
    margin-top: 100px;
} 
#rside h1{ 
    font-size:40px ; 
    margin-top: 15px; 
    margin-bottom: 20px;
    
} 
#rside button{ 
       padding: 10px 30px; 
       margin-top: 35px; 
       background-color: rgb(255, 187, 0); 
       color: white; 
       border: none; 
       cursor: pointer;
} 
#lside{ 
    float: right; 
    width: 36%; 
    
    
}  
#lside h3{ 
    color: white;
} 
#lside form{   
    border:1px rgba(193, 198, 206, 0.4) solid;
    background-color: rgba(88, 109, 141, 0.4);   
    height: 350px; 
    padding: 50px 60px 50px 30px; 
    width: 270px; 
    text-align: justify; 
   
}
 
#sel1{ 
    width: 300px; 
    color: rgb(192, 199, 199);
    height: 30px; 
    padding-left: 10px; 
    margin-top: 20px;  
    border: none;
    border-radius: 3px;
} 
.sel2{ 
    width: 50%; 
    color: rgb(192, 199, 199);
    height: 30px; 
    padding-left: 10px; 
    margin-top: 20px;  
    border: none;
    border-radius: 3px; 
    float: left; 
    
} 
.inp1{ 
    width: 40%; 
    color: rgb(192, 199, 199);
    height: 30px; 
    padding-left: 10px;
    margin-top: 20px;  
    border: none;
    border-radius: 3px; 
    float:right;  
} 
.inp2{ 
    width: 290px; 
    color: rgb(192, 199, 199);
    height: 30px; 
    padding-left: 10px; 
    margin-top: 20px;  
    border: none;
    border-radius: 3px;
} 
.but{ 
    text-transform: uppercase; 
    width: 300px; 
    color: rgb(255, 255, 255);
    height: 30px; 
    padding-left: 10px; 
    margin-top: 20px;  
    border: none;
    border-radius: 3px; 
    background-color: rgb(255, 187, 0); 
    cursor: pointer;
}

#item1{  
    clear: both;
    margin-left: auto; 
    margin-right: auto;  
    width: 80%;
}    
#con1{ 
    margin-top: 40px; 
    margin-bottom: 30px;
}  
#con2{ 
    clear: both;
}

.con{  
   
    text-align: justify; 
    border-radius: 10px; 
    background-color: rgb(230, 234, 236); 
    width: 25%; 
    padding: 35px 30px 40px 25px; 
    float: left;
} 
.con img{ 
    float:left;
} 
.con h3{ 
    float:left; 
    margin-left: 20px; 
    margin-bottom: 20px;
} 
.con p{ 
    clear: both; 
   
} 

#item2{ 
   
    margin-left: auto; 
    margin-right: auto; 
    width: 93%;
   
} 
#item2 img{ 
   width: 52%; 
   float: left; 
   height: 400px;  
   margin-top: 80px;
} 
#ritem{ 
    float: left;
    width: 43%; 
    margin-top: 180px; 
    margin-left: 50px; 
    margin-bottom: 80px; 
    
} 
#ritem h1{  
   font-size: 40px;
} 
#ritem h4{ 
    font-size: 15px; 
    margin-top: 20px; 
    margin-bottom: 20px;
} 
#ritem p{ 
    color: slategrey;
} 
#ritem button{ 
    padding: 10px 30px; 
    margin-top: 20px; 
    background-color: rgb(255, 187, 0); 
    color: white; 
    border: none; 
    cursor: pointer;
}  
#item3{ 
    clear: both;
    margin-left: 90px; 
    margin-right: auto; 
    width: 75%;   

} 
#item3 h1{    
    margin-left: 90px; 
    font-size: 35px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
#item3 h4{ 
    margin-left: 170px;
}
#right{ 
    width: 49%; 
   text-align: justify; 
   float: left; 
   margin-bottom: 100px;
} 
#right h3{ 
    float: left;
} 
#right span{ 
    float: right; 
    font-size: 30px; 
    font-weight: bold; 
    margin-top: -9px; 
    color: rgb(255, 187, 0);
} 
#right p{ 
    clear: both; 
    font-family:Georgia, 'Times New Roman', Times, serif ; 
    color: rgb(182, 174, 174);  
    display:inline-block;
    margin-top: 20px;
} 

#right pre{ 
    font-family:Georgia, 'Times New Roman', Times, serif ; 
    color: rgb(182, 174, 174);  
}  
#right button{  
     
    color: white; 
    width: 200px; 
    height: 40px; 
    background-color: rgb(32, 31, 31);
    border: none; 
    cursor: pointer;
} 
#left{ 
    float: right; 
    width: 42%;  
   
} 
#left img{  
    height: 280px;
    display: inline-block; 
  
}  
#item4{ 
    margin-left: auto; 
    margin-right: auto;  
    width: 1140px;  
    clear: both;   
    background-color: rgb(241, 241, 241);
   
}
#head2{ 

    width: 1140px;
    background-image:url(../Images/callaction-bg.jpg);
    background-size:1640px;  
    background-repeat: no-repeat;
    height: 410px;
    background-position: center center;	   
  background-size: cover;
   
}     
#text{  
  
    background-color: rgba(20, 29, 49, 0.7); 
     height: 410px;  
     
     text-align: center; 
     
  
} 
#element{ 
   padding: 130px 100px 200px 100px;
    
} 
#element h1{ 
     
  font-size: 35px; 
  color: white; 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  margin-bottom: 20px;
} 
#element p{ 
    color: white;  
    font-size: 15px; 
    font-family:sans-serif;

} 
#element button{ 
    border: 1px solid rgb(255, 187, 0); 
    width: 230px; 
    height: 40px; 
    background: none;
    cursor: pointer; 
    margin-top: 40px; 
    color: rgb(255, 187, 0); 
    font-size: 15px;
}  
#center{ 
    width: 1140px;
}
#tit{ 
    text-align: center; 
    width: 60%; 
    margin-left: 250px;
} 
#tit h1{ 
  font-size: 35px; 
  color: rgb(0, 0, 0); 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  margin-bottom: 15px; 
  margin-top: 50px;
} 
#tit p{ 
    font-size: 17px; 
    color: rgb(136, 131, 131); 
    margin-bottom: 70px;
} 
#images{ 
   width: 1140px; 
   margin-left: 60px; 
   margin-right: 60px; 
   display: flex;
} 
.img1{ 
    width: 20%; 
    height: 420px; 
    float: left; 

   
}  

.img1 #span{ 
    margin-top: 10px; 
    display: inline-block; 
    margin-bottom: 10px; 
    padding: 5px 10px; 
    color: rgb(151, 142, 142); 
    background-color: black; 
    width: 100px; 
    text-align: center;
} 
.img1 p{ 
    color: rgb(182, 182, 182); 
    margin-top: 15px;
} 
.img1 #ico{ 
    float: left; 
    margin-top: 20px; 
    color: rgb(182, 182, 182); 
} 
.img1 #ico2{ 
    float:right;  
    margin-top: 12px; 
    color: rgb(182, 182, 182);
}  
.footer{  
    clear: both;
    width: 940px; 
    background-color: rgb(10, 10, 36); 
    padding: 100px 100px 50px 100px; 
   

}   
.f1{ 
   width: 20%;
   
}
.footer h3{ 
    color: white; 
    font-size: 24px; 

} 
.footer ul{ 
    text-decoration: none; 
    list-style-type: none; 
    text-align: justify; 
    
    margin-top: 20px;
   
} 
.footer ul li{ 
     margin-bottom: 20px; 
      color: rgb(150, 150, 150); 
} 
#f2{ 
    width: 20%; 
  
} 
#f2 h3{ 
    color: white; 
    font-size: 24px; 
   
}  
#f2 h4{ 
    margin-top: 20px; 
    color: rgb(150, 150, 150);
} 
#f2 ul{ 
    display: flex;  
    width: 20%;
  
}  
#f3{ 
    width: 30%
} 
#f3 h3{ 
    color: white; 
    font-size: 24px; 
   
}  
#f3 h4{ 
    margin-top: 20px; 
    color: rgb(150, 150, 150); 
    margin-bottom: 30px;
}  
#f3 input{ 
    width: 300px; 
    height: 40px; 
    padding-left: 10px;
    color: rgb(150, 150, 150);
}  
#foot{ 
    color: rgb(150, 150, 150); 
    text-align: center; 
    margin-top: 70px;
}


    




